.nbfclist-adminside {
    display: none;
    flex-direction: column;
    max-width: 71.04%;
    width: 100%;
    margin-top: 50px;
    gap: 17px;
    margin-left:21.52%;

}

.individualnbfclists-content,
.individualcounsellorlists-content {
    display: flex;
    flex: 1;
}

.individualnbfc-admin {
    padding: 24px 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(26, 2, 57, 0.03);

}

.individualnbfclists-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 1rem;
    border-bottom: 1px solid rgba(229, 229, 229, 1);

}

.individualnbfclists-items p {
    font-family: 'Poppins', sans-serif;

    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: rgba(93, 92, 92, 1);
    flex: 2;

}

.individualnbfclists-header {
    display: flex;
    justify-self: flex-start;
    flex-direction: row;

    padding: 1rem;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    width: 100%;
    gap: 17.5%;


}

.individualnbfclists-headerp {
    font-family: 'Poppins', sans-serif;

    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: rgba(93, 92, 92, 1);
}

.nbfc-name-identify,
.nbfcreferralid-identify {
    width: 363px;

}

.individualnbfcs-buttoncontainer {
    display: flex;
    gap: 10px;
}

.individualnbfcs-buttoncontainer button {
    width: 86;
    height: 35;
    border-width: 1px;
    gap: 8px;
    padding: 16px 12px;
    border-radius: 4px;
    border: 1px solid rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.individualnbfcs-buttoncontainer button:not(:last-child) {
    width: 35px;


}

.individualnbfcs-buttoncontainer button:last-child {
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(111, 37, 206, 1);
}

.add-nbfc-datasection {
    display: none;
    flex-direction: column;
    padding: 20px 24px;
    max-width: 53.54%;
    width: 100%;
    margin-left: 30.26%;
    margin-top: 134px;
    background-color: white;
    border-radius: 8px;
    height:fit-content;

}

.add-nbfc-firstsection {
    display: flex;
    justify-content: space-between;


}

.add-nbfc-firstsection h3 {
    font-family: 'Poppins', sans-serif;

    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: rgba(233, 134, 53, 1);

}

.add-nbfc-firstsection #save-all-nbfc {
    width: 109px;
    height: 35px;
    background-color: rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    cursor: pointer;


    cursor:pointer;
}
.studentlist-add-button-mobile{
    background-color: rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    width: 88px;
    height: 35px;
    padding: 1rem 2rem;
    gap: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(111, 37, 206, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.nbfc-type-dropdown {
    position: relative;
    display: inline-block;
}

.formsection-addnbfcuser {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 1.9rem;

}

.formsection-addnbfcuser .delete-nbfc-id {
    width: 109px;
    height: 35px;
    border-radius: 4px;
    border: 1rem 2rem;
    gap: 8px;
    border: 1px solid rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(38, 2, 84, 1);
    background: transparent;
    align-self: flex-end;
}

#add-nbfc-user-more {
    width: 109px;
    height: 35px;
    border-radius: 4px;
    background-color: rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    align-self: flex-end;
    margin-top: 22px;

}

.firstgroup-field-nbfcadd {
    display: flex;
    justify-content: space-between;
    gap: 22px;

}

.nbfc-type-dropdown {
    width: 50%;

}

#nbfc-dropdown-trigger {
    position: relative;
    border: 1px solid rgba(226, 226, 226, 1);
    width: 100%;
    height: 38px;
    border-radius: 4px;
    padding: 10px 13px;
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(144, 144, 144, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

#nbfc-dropdown-trigger i {
    position: absolute;
    right: 2%;


}

.nbfc-dropdown-content {
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    background: #fff;
    width: 100%;
    height: fit-content;

}

.nbfc-dropdown-content a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(144, 144, 144, 1);
    padding: 10px 13px;
    width: 100%;
}


.globallistcontainer-header{
    gap:20px;
}
.formsection-addnbfcuser input,
.firstgroup-field-nbfcadd input {
    width: 100%;
    height: 38px;
    border: 1px solid rgba(226, 226, 226, 1);
    padding: 10px 13px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(144, 144, 144, 1);

}

.formsection-addnbfcuser input::placeholder {
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(144, 144, 144, 1);
}

.firstgroup-field-nbfcadd input {
    width: 50%;

}

@media (max-width: 768px) {
    .nbfclist-adminside {
        margin: 0 auto;
       width:100%;
       max-width: 380px;
        gap: 10px;
    }
    
    
    .headersection-rightsidecontent{
        width:300px;
    }

    .individualnbfclists-content,
    .individualcounsellorlists-content {
        flex-direction: column;
        gap: 8px;
    }

    .individualnbfclists-header {
        flex-direction: column;
        gap: 10px;
        padding: 0.5rem;
        padding-bottom: 20px;
    }

    .individualnbfclists-headerp {
        font-size: 14px;
        line-height: 16px;
    }

    .individualnbfclists-items {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 8px;
    }

    .individualnbfclists-items p {
        font-size: 13px;
        line-height: 15px;
        flex: none;
    }

    .nbfc-name-identify,
    .nbfcreferralid-identify {
        width: 100%;
    }

    .individualnbfcs-buttoncontainer {
        flex-direction: row;
        gap: 8px;
        justify-content: flex-end;
        width: 100%;
    }

    .individualnbfcs-buttoncontainer button {
        padding: 10px;
        height: 40px;
        width: auto;
    }

    .individualnbfcs-buttoncontainer button:not(:last-child) {
        width: 40px;
    }

    .individualnbfcs-buttoncontainer button:last-child {
        width: 90px;
        height: 40px;
        font-size: 13px;
        line-height: 15.6px;
    }

    .individualnbfcs-buttoncontainer button:first-child {
        display: none;
    }

    .individualnbfcs-buttoncontainer button:nth-child(2) {
        border: none;
        background-color: transparent;
        box-shadow: none;
        width: 40px;
        height: 40px;
    }

    .individualnbfcs-buttoncontainer button:nth-child(2) img {
        width: 100%;
        height: 100%;
    }

    .add-nbfc-datasection {
        max-width: 380px;
        padding: 30px 0px;
        margin:0 auto;
    }
}