.add-studentcounsellor-adminside {
    max-width: 100%;
    width: 767px;
    box-shadow: 0px 8px 20px 0px rgba(26, 2, 57, 0.03);
    background-color: rgba(255, 255, 255, 1);
    margin-top: 135px;
    margin-left: 28%;
    display: none;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 8px;
    display: none;
}

/* 
.add-studentcounsellor-adminside {
    margin: 20px 24px;
} */

.studentcounsellor-requiredfields-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 22px;
}

.dashboard-sort-button-container {
    display: inline-block;
    position: relative;
}

.dashboard-sort-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 77px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.dashboard-sort-options button {
    padding: 10px 16px;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    color: #6b7280;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #f3f4f6;
}

.dashboard-sort-options button:last-child {
    border-bottom: none;
}

.dashboard-sort-options button:hover {
    background-color: #f9fafb;
}

.dashboard-sort-button {
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #909090;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    height: 38px;
    cursor: pointer;
}
#counsellor-search-student-list-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 242px;
    height: 37px;
    gap: 10px;
}

#counsellor-search-student-list {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgba(38, 2, 84, 1);
    padding: 10px 10px 10px 35px; /* Left padding for icon */
    border-radius: 4px;
    border: 1px solid rgba(222, 222, 222, 0.7);
    box-sizing: border-box;
}

#counsellor-search-student-list::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #5d5c5c;
    opacity: 1;
}

#counsellor-search-student-list-container .fa-search {
    position: absolute;
    color: #5d5c5c;
    font-size: 14px;
}

.studentcounsellor-requiredfields-admin input,
#trigger-profile-photo-sc {
    max-width: 100%;
    width: 100%;
    height: 38px;
    border-radius: 4px;
    padding: 10px 13px;
    border: 1px solid rgba(226, 226, 226, 1);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(144, 144, 144, 1);
}

.studentcounsellor-requiredfields-admin input::placeholder {
    color: rgba(144, 144, 144, 1);
}

.studentcounsellor-requiredfields-admin input:nth-child(5)::placeholder {
    transform: translateY(-18px);
}

#student-counsellor-admin-address {
    height: 74px;
}

.add-studentcounsellor-adminside .studentcounsellor-header-admin {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-bottom: 1px solid #e2e2e2;
    color: rgba(233, 134, 53, 1);
    padding: 20px 0px;
}

.addcouncellor-buttoncontainer #delete-councellor-admin {
    height: 35;

    gap: 8px;
    padding: 1rem 2rem;
    border: 1px solid rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(38, 2, 84, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.upload-container {
    position: relative;
}
#trigger-profile-photo-sc {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#sc-profile-photo-upload {
    display: none;
}

.input-container-sc {
    display: flex;
    flex-direction: column;
}
.error-message-sc {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    display: none;
    text-align: left;
    background-color: white;
}

#generate-referral-councellor-admin {
    width: 210;
    height: 35;
    gap: 8px;
    padding: 16px 22px;
    border-radius: 4px;
    background-color: rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

.addcouncellor-buttoncontainer {
    display: flex;
    gap: 22px;
    align-self: flex-end;
    margin-top: 22px;
}

#scdashboard-profile-adminside {
    max-width: 100%;
    width: 100%;
    margin-left: 21%;
}

#scdashboard-profile-adminside .scmember_personalinfo {
    margin-left: -35px;
}

#scdashboard-profile-adminside .scdashboard-individual-performance li p {
    margin-bottom: 0;
}

#scdashboard-profile-adminside #screferral-dob-fromprofile p {
    margin-bottom: 0;
}

#scdashboard-profile-adminside .queryraisedcontainer-rightcontent #sort-by p {
    margin-bottom: 0;
}

#scdashboard-profile-adminside #raised-query {
    display: none;
}

#scdashboard-profile-adminside .scmember-profilecontainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 27%;
    width: 100%;
    margin-left: 0.5rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
    box-shadow: 0px 8px 23px 0px #1a023908;
}

#scdashboard-profile-adminside .scdashboard-performancecontainer {
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 20px 0px rgba(26, 2, 57, 0.03);
}

/* #scmember-profilecontainer-adminside .scmember-profilecontainer{ */

/* } */

#scmember-profilecontainer-adminside .scmember-rowfirst .save-scuser {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6f25ce;
    width: 70px;
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #92889b21;
    background: transparent;
}

.studentcounsellor-requiredfields-admin input:nth-child(5)::placeholder {
    transform: none;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

#trigger-profile-photo-sc {
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
}

.upload-icon {
    position: absolute;
    right: 10px;
    width: 24px; 
    height: 24px;
    pointer-events: none; 
    top:5px;
}

@media (max-width: 767px) {
    .add-studentcounsellor-adminside {
        max-width: 380px;
        width: 380px;
        height: fit-content;
        margin: 20px auto;
        margin-top: 80px;
        padding: 16px;
        box-shadow: 0px 4px 10px 0px rgba(26, 2, 57, 0.03);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .studentcounsellor-header-admin {
        font-size: 20px;
        line-height: 30px;
        color: rgba(233, 134, 53, 1);
        margin-bottom: 16px;
        text-align: center;
    }

    .studentcounsellor-requiredfields-admin {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .studentcounsellor-requiredfields-admin input,
    #trigger-profile-photo-sc {
        font-size: 12px;
        height: 40px;
        padding: 10px;
        width: 100%;
        border: 1px solid rgba(226, 226, 226, 1);
        border-radius: 4px;
        color: rgba(144, 144, 144, 1);
    }

    #student-counsellor-admin-address {
        height: 80px;
        resize: none;
    }

    #trigger-profile-photo-sc {
        background: url("data:image/png;base64,iVBORw0KGgo...") no-repeat right
            10px center;
        background-size: 20px;
        cursor: pointer;
    }

    .addcouncellor-buttoncontainer {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #delete-councellor-admin,
    #generate-referral-councellor-admin {
        width: 48%;
        height: 40px;
        padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        cursor: pointer;
    }

    #delete-councellor-admin {
        border: 1px solid rgba(111, 37, 206, 1);
        background-color: transparent;
        color: rgba(38, 2, 84, 1);
        box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    }

    #generate-referral-councellor-admin {
        background-color: rgba(111, 37, 206, 1);
        color: rgba(255, 255, 255, 1);
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    }
}

@media (max-width: 767px) {
    .add-studentcounsellor-adminside {
        max-width: 380px;
        width: 380px;
        height: fit-content;
        margin: 20px auto;
        margin-top: 80px;
        padding: 16px;
        box-shadow: 0px 4px 10px 0px rgba(26, 2, 57, 0.03);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .studentcounsellor-header-admin {
        font-size: 20px;
        line-height: 30px;
        color: rgba(233, 134, 53, 1);
        margin-bottom: 16px;
        text-align: center;
    }

    .studentcounsellor-requiredfields-admin {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .studentcounsellor-requiredfields-admin input,
    #trigger-profile-photo-sc {
        font-size: 12px;
        height: 40px;
        padding: 10px;
        width: 100%;
        border: 1px solid rgba(226, 226, 226, 1);
        border-radius: 4px;
        color: rgba(144, 144, 144, 1);
    }

    #student-counsellor-admin-address {
        height: 80px;
        resize: none;
    }

    #trigger-profile-photo-sc {
        background: url("data:image/png;base64,iVBORw0KGgo...") no-repeat right
            10px center;
        /* Placeholder for upload icon */
        background-size: 20px;
        cursor: pointer;
    }

    .addcouncellor-buttoncontainer {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #delete-councellor-admin,
    #generate-referral-councellor-admin {
        width: 48%;
        height: 40px;
        padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        cursor: pointer;
    }

    #delete-councellor-admin {
        border: 1px solid rgba(111, 37, 206, 1);
        background-color: transparent;
        color: rgba(38, 2, 84, 1);
        box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    }

    #generate-referral-councellor-admin {
        background-color: rgba(111, 37, 206, 1);
        color: rgba(255, 255, 255, 1);
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    }
}

#scmember-profilecontainer-adminside {
    margin-top: 10%;
    display: flex;
    margin-left: 21%;
}

#scmember-profilecontainer-adminside .scmember_personalinfo {
    margin-left: -33px;
}

#scmember-profilecontainer-adminside .scmember_personalinfo_editmode {
    margin-left: -34px;
}

#scmember-profilecontainer-adminside #dob-display {
    margin-bottom: 0;
}

#scmember-profilecontainer-adminside .scmember_personalinfo_editmode li {
    margin: 5px 0;
}

#scmember-profilecontainer-adminside .scmember-rowfirst .save-scuser {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6f25ce;
    width: 70px;
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #92889b21;
    background: transparent;
}

@media (max-width: 767px) {
    .add-studentcounsellor-adminside {
        max-width: 95%;
        width: 100%;
        margin-left: 10%;
    }

    .add-studentcounsellor-adminside input,
    #trigger-profile-photo-sc {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .add-studentcounsellor-adminside {
        height: fit-content;
        margin: 20px auto;
        margin-top: 80px;
        padding: 16px;
        box-shadow: 0px 4px 10px 0px rgba(26, 2, 57, 0.03);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .studentcounsellor-header-admin {
        font-size: 20px;
        line-height: 30px;
        color: rgba(233, 134, 53, 1);
        margin-bottom: 16px;
        text-align: center;
    }

    .studentcounsellor-requiredfields-admin {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .studentcounsellor-requiredfields-admin input,
    #trigger-profile-photo-sc {
        font-size: 12px;
        height: 40px;
        padding: 10px;
        width: 100%;
        border: 1px solid rgba(226, 226, 226, 1);
        border-radius: 4px;
        color: rgba(144, 144, 144, 1);
    }

    #student-counsellor-admin-address {
        height: 80px;
        resize: none;
        width: 361px;
    }

    #trigger-profile-photo-sc {
        background: url("data:image/png;base64,iVBORw0KGgo...") no-repeat right
            10px center;
        /* Placeholder for upload icon */
        background-size: 20px;
        cursor: pointer;
    }

    .addcouncellor-buttoncontainer {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #delete-councellor-admin,
    #generate-referral-councellor-admin {
        width: 48%;
        height: 40px;
        padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        cursor: pointer;
    }

    #delete-councellor-admin {
        border: 1px solid rgba(111, 37, 206, 1);
        background-color: transparent;
        color: rgba(38, 2, 84, 1);
        box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    }

    #generate-referral-councellor-admin {
        background-color: rgba(111, 37, 206, 1);
        color: rgba(255, 255, 255, 1);
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    }
}
