
 
.add-studentcounsellor-adminside
{
    max-width: 53%;
    width:100%;
    box-shadow: 0px 8px 20px 0px rgba(26, 2, 57, 0.03);
    background-color:rgba(255, 255, 255, 1);
    height: 387px;
    margin-top: 135px;
    display: none;
    flex-direction: column;

}
.add-studentcounsellor-adminside{
    margin: 20px 24px;
}
.studentcounsellor-requiredfields-admin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

}
