#index-section-admin-id{
  margin-top: 35px;
     
  
}


.admin-index-section-main-container{
      display: none;
     flex-direction: column;
     max-width: 100%;
     width: 100%;
     margin-top: 50px;
     margin-right: 85px;
     gap: 17px;
     margin-left: 4.1%;

}
.admin-index-main-container {
            display: flex;
            justify-content: center;
            margin: 0px 25px;
            padding-top: 20px;
            align-items: center;
            gap: 16px;
            padding: 20px;
            background: white;
            border-radius: 8px;
        }

        .admin-index-item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 20px;
            border-radius: 6px;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            cursor: pointer;
            min-width: 250px;
            border: 1px solid #ccc;
            /* Adjust color as needed */
        }


        .admin-index-item.active {
           background: linear-gradient(to right, #45246F 0%, #6F25CE 100%);
            color: white;
        }

        .admin-index-icon {
            width: 20px;
            height: 20px;
        }

        .admin-index-count {
            margin-left: auto;
            font-weight: 500;
        }

        .admin-index-count-orange {
            color: #F97316;
        }

        .admin-index-count-gray {
            color: #9CA3AF;
        }

        .admin-index-section {
            background: white;
            border-radius: 8px;
            padding: 24px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

        }