.commonsidebar-togglesidebar {
    height: 90vh;
    max-width: 18.95%;
    width: 100%;
    box-shadow: 0px 8px 23px 0px rgba(26, 2, 57, 0.05);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 0px;
    position: fixed;
    z-index: 50;
    top: 83px;
    left: 0;
    overflow-y: auto; 
}

#commonsidebar-admin {

    position: fixed;
    
    scrollbar-width: none;


}
#commonsidebar-admin::-webkit-scrollbar{
    display:none
}

#commonsidebar-admin .commonsidebar-sidebarlists-bottom {
    display: flex;
    
    margin-top: 60px;
}

#commonsidebar-admin .commonsidebar-sidebarlists-bottom li {
     font-size: 14px;
    align-items: center;
    justify-content: flex-start;
}

#commonsidebar-admin .commonsidebar-sidebarlists-bottom li i,
#commonsidebar-admin .commonsidebar-sidebarlists-bottom li img {
    font-size: 13px;
    width: 14px;
    height: 14px;
}

#commonsidebar-admin .commonsidebar-sidebarlists-top {
    height: fit-content;
    margin-left: 0;
}

.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 202px;
    max-width: 100%;
    border-radius: 4px;
    margin-left: 8px;
}


.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(38, 2, 84, 0.7);
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    height: 54px;
    border-radius: 4px;
    display: flex;
    gap: 0.9rem;
    padding-left: 5px;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}



#expanded-studentcounsellor-admin-side,
#expanded-student-admin-side {
    display: none;
    flex-direction: column;
}


#expand-icon-Student,
#expand-icon-StudentCounsellor {
    position: absolute;
    right: 3%;
    top: 40%;
}


.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li.active {
    background: linear-gradient(90deg, #FFA048 0%, #FA7B15 100%);
    color: #fff;
    width: 100%;
}
.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li.active .sidebar-icon {
    filter: brightness(0) invert(1);
}

.commonsidebar-sidebarlists-bottom {
    width: 100%;
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}


.commonsidebar-sidebarlists-bottom li {
    border: 1px solid rgba(222, 222, 222, 0.8);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 18px;
    max-width: 100%;
    width: 80%;
    height: 54px;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: rgba(38, 2, 84, 0.7);
    cursor: pointer;
    justify-content: flex-start;
    border-radius: 4px;
    align-items: center;
}

#scuser-dashboard-menu img {
    transition: opacity 0.3s ease;
}

@media (max-width: 1025px) {
    .commonsidebar-togglesidebar {
        display: none!important;
    }
    #commonsidebar-admin {
        position: fixed;
        display: none !important;
        scrollbar-width: none;
    }
}

@media(max-width:980px) {
    .commonsidebar-sidebarlists-bottom li {
         gap: 0.8rem;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
        gap: 0.9rem;
         width: 100%;
    }

     

    .trackprogress-secondsection h1 {
        line-height: 10px;
    }
}

@media(max-width:780px) {
    .commonsidebar-togglesidebar{
        display:none;
    }

    .commonsidebar-sidebarlists-top p,
    .commonsidebar-sidebarlists-top li,
    .commonsidebar-sidebarlists-top img {
        font-size: 0.7rem;
        width: 10px;
    }

    .commonsidebar-sidebarlists-bottom li {
        font-size: 0.7rem;
        justify-content: space-evenly;
    }

    .commonsidebar-sidebarlists-bottom img {
        width: 1rem;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top {
        margin-left: 0.5rem;
    }


    .commonsidebar-sidebarlists-bottom li {
        gap: 2px;
        height: 40px;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
        gap: 0.9rem;
        padding-left: 0.2rem;
        width: 100%;
    }

    .queryraisedcontainer-rightcontent {
        gap: 0.7rem;
    }


}

@media(max-width:720px) and (min-width:640px) {
    .queryraisedcontainer-firstrow #queryraised-header {
        font-size: 0.8rem;
    }

    .scdashboard-individual-performance {
        gap: 0.35rem;
    }

    .queryraisedcontainer-rightcontent #sort-by {
        width: 80px;
        padding: 0.4rem;
    }

    .individual-raisedquestions #query-raisedbyrow {
        margin-right: 1rem;
    }

    .scdashboard-individual-performance li {
        padding: 0 7px;
        padding: 0.7rem;
    }
}

@media(max-width:640px) {
    .commonsidebar-togglesidebar {
        display: none;
        width: 100%;
        max-width: 100%;
        padding: 40px 30px;

    }

    .scdashboard-applicationstatus .scapplicationstatus-firstrow #sc-new-application-generate {
        height: 45px;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
        color: #260254B2;
        width: 100%;
    }

    .commonsidebar-sidebarlists-bottom li {
        width: 368px;
        justify-content: center;
        font-size: 1rem;
        gap: 1rem;

    }



    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top,
    .commonsidebar-sidebarlists-bottom {
        max-width: 100%;
        width: 100%;

    }

    .commonsidebar-sidebarlists-top p {
        font-family: 'Poppins', sans-serif;

        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        width: 100%;

    }

    .commonsidebar-sidebarlists-top i {
        font-size: 20px;

    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li.active {
        background: #fff;
        color: #FF7A00;


    }

    .scdashboard-applicationstatus .scapplicationstatus-firstrow #applicationstatus-sortby {
        height: 46px;
    }

}

p {
    margin-top: 0;
    margin-bottom: 0;
}

