.commonsidebar-togglesidebar {
    height: 88vh;
    width: 18%;
    max-width: 100%;
    box-shadow: 0px 8px 23px 0px rgba(26, 2, 57, 0.05);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 0px;
    position: fixed;
    z-index: 50;
    margin-top: 85.3px;
    top: 0;
    left: 0;
}
#commonsidebar-admin{
    height: fit-content;
    position:sticky;

}
#commonsidebar-admin .commonsidebar-sidebarlists-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
#commonsidebar-admin .commonsidebar-sidebarlists-bottom li{
    width:114px;
    font-size: 13px;
    gap:8.5px;
   align-items: center;
   justify-content: flex-start;



}
#commonsidebar-admin .commonsidebar-sidebarlists-bottom li i,#commonsidebar-admin .commonsidebar-sidebarlists-bottom li img{
     font-size: 13px;
     width: 14px;
     height: 14px;
}

#commonsidebar-admin .commonsidebar-sidebarlists-top{
    height: fit-content;
}
.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 202px;
    max-width: 100%;
    width: 90%;
    border-radius: 4px;
    margin: 0 22px;

}


.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(38, 2, 84, 0.7);
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    height: 54px;
    border-radius: 4px;
    display: flex;
    gap: 0.9rem;
    padding-left: 1rem;
    justify-content: flex-start;
    align-items: center;


}

.commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li.active {
    background: linear-gradient(90deg, #FFA048 0%, #FA7B15 100%);
    color: #fff;
    width: 100%;
}

.commonsidebar-sidebarlists-bottom {
    width: 100%;
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;


}

.commonsidebar-sidebarlists-bottom li {
    border: 1px solid rgba(222, 222, 222, 0.8);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 18px;
    max-width: 100%;
    width: 80%;
    height: 54px;
    padding-left: 1rem;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: rgba(38, 2, 84, 0.7);
    cursor: pointer;
    justify-content: flex-start;
    border-radius: 4px;
    align-items: center;




}
#scuser-dashboard-menu img {
    transition: opacity 0.3s ease;
}

@media(max-width:1200px) {}

@media(max-width:980px) {
    .commonsidebar-sidebarlists-bottom li {
        padding-left: 0.5rem;
        gap: 0.8rem;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
        gap: 0.9rem;
        padding-left: 0.5rem;
        width: 100%;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top {
        margin-left: 0.5rem;
    }

    .trackprogress-secondsection h1 {
        line-height: 10px;
    }
}

@media(max-width:780px) {

    .commonsidebar-sidebarlists-top p,
    .commonsidebar-sidebarlists-top li,
    .commonsidebar-sidebarlists-top img {
        font-size: 0.7rem;
        width: 10px;
    }

    .commonsidebar-sidebarlists-bottom li {
        font-size: 0.7rem;
        justify-content: space-evenly;
    }

    .commonsidebar-sidebarlists-bottom img {
        width: 1rem;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top {
        margin-left: 0.5rem;
    }


    .commonsidebar-sidebarlists-bottom li {
        gap: 2px;
        height: 40px;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
        gap: 0.9rem;
        padding-left: 0.2rem;
        width: 100%;
    }

    .queryraisedcontainer-rightcontent {
        gap: 0.7rem;
    }


}

@media(max-width:720px) and (min-width:640px) {
    .queryraisedcontainer-firstrow #queryraised-header {
        font-size: 0.8rem;
    }

    .scdashboard-individual-performance {
        gap: 0.35rem;
    }

    .queryraisedcontainer-rightcontent #sort-by {
        width: 80px;
        padding: 0.4rem;
    }

    .individual-raisedquestions #query-raisedbyrow {
        margin-right: 1rem;
    }

    .scdashboard-individual-performance li {
        padding: 0 7px;
        padding: 0.7rem;
    }
}

@media(max-width:640px) {
    .commonsidebar-togglesidebar {
        display: none;
        width: 100%;
        max-width: 100%;
        padding: 40px 30px;

    }

    .scdashboard-applicationstatus .scapplicationstatus-firstrow #sc-new-application-generate {
        height: 45px;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li {
        color: #260254B2;
        width: 100%;
    }

    .commonsidebar-sidebarlists-bottom li {
        width: 368px;
        justify-content: center;
        font-size: 1rem;
        gap: 1rem;

    }



    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top,
    .commonsidebar-sidebarlists-bottom {
        max-width: 100%;
        width: 100%;

    }

    .commonsidebar-sidebarlists-top p {
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        width: 100%;

    }

    .commonsidebar-sidebarlists-top i {
        font-size: 20px;

    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top li.active {
        background: #fff;
        color: #FF7A00;


    }

    .scdashboard-applicationstatus .scapplicationstatus-firstrow #applicationstatus-sortby {
        height: 46px;
    }

}