 * {
     margin: 0;
     padding: 0;
 }

.loginsignupcontainer {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.loginsingupcontainer-leftpanel {
    width: 807px;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}

.loginsingupcontainer-leftpanel .loginsingupmainimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    /* Optional if you're using a background image along with the image */
}

.loginsingupcontainer-rightpanel h1 {
    font-family: Raleway;
        margin-bottom: 5px;
        font-size: 36px;
        font-weight: 700;
        line-height: 37.26px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        max-width: 51px;
        max-width: 100%;
        width: 100%;
}

.loginsingupimagecontainer-header {
    position: absolute;
    top: 10.9rem;
    left: 6.8rem;
    max-width: 380px;
    width: 100%;
    height: 236px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 58.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    /* margin-top: 120px; */
    /* padding-left: 1.5rem; */
    z-index: 3;
}

.profileCardVector-white {
    position: absolute;
    top: 6.8rem;
    left: 7.5rem;
    z-index: 3;
}

.loginsingupcontainer-leftpanel .signupmainimgupside {
    position: absolute;
    top: 0;
    right: -7%;
    opacity: 0.15;
    z-index: 0;
}

.loginsignupcontainer .hiddencontainer {
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: -13.15%;
    top: 0;
    width: 60px;
    height: 200px;
    z-index: 5;
}

.loginsingupcontainer-leftpanel .downsideloginimg {
    position: absolute;

    top: 55%;
    left: 2%;
    z-index: 3;
}

.loginsingupcontainer-leftpanel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 143, 46, 1);
    opacity: 0.2;
    /* filter: brightness(0.5) saturate(2.4); */
    z-index: 1;
}

 .loginsingupcontainer-rightpanel {
     display: flex;
     flex-direction: column;
     justify-content: center;

     position: relative;
     align-items: center;
     max-width: 595px;
     width: 100%;
     z-index: 1;

    height: 681px;
}

.rightsidevector-img {
position: absolute;
    top: -1%;
    left: 16.5%;
    max-width: 84px;
    width: 100%;
    height: 82px;
    opacity: 0.9;
    z-index: -1;
}

.loginsingupcontainer-rightpanel .loginsingupcontainer-rightpanel-inside {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

 .rightpanel-namecontainer,
 .rightpanel-emailcontainer,
 .rightpanel-passwordcontainer,
 .rightpanel-phonecontainer {
     width: 100%;
     max-width: 370px;


 }

.rightpanel-passwordcontainer {
    position: relative;
    max-width: 100%;
}

.rightpanel-passwordcontainer input {
    max-width: 62%;
}

 .loginsingupcontainer-rightpanel-inside input {
     width: 100%;
     height: 40px;
     border-radius: 4px;
     border: 0.5px solid rgba(174, 174, 174, 1);
     font-family: 'Poppins', sans-serif;

     font-size: 14px;
     font-weight: 500;
     line-height: 21px;
     text-align: left;
     color: rgba(131, 131, 131, 1);
     padding: 0.59rem 0 0.59rem 1rem;
     margin: 0.93rem 6.8rem;


 }

 .loginsingupcontainer-rightpanel-inside input::placeholder {
     font-family: 'Poppins', sans-serif;

     font-size: 14px;
     font-weight: 500;
     line-height: 21px;
     text-align: left;
     color: rgba(131, 131, 131, 1);



 }

 .rightpanel-signupbuttoncontainer {
     display: flex;
     flex-direction: column;
     gap: 22px;
     max-width: 100%;



 }

.rightpanel-checkboxcontainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.93rem 6.8rem;
    gap: 2.8rem;
    max-width: 100%;
}

 .rightpanel-checkboxcontainer input {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     cursor: pointer;
     border-radius: 2px;
     width: 18px;
     height: 18px;
     border: 2px solid rgba(255, 115, 0, 1);
     position: relative;
     background-color: white;
 }

 .logincontainer .loginvector {
     position: absolute;
     z-index: -1;
     top: -70%;
     left: 10%;
     width: 829px;
     height: 806px;
     opacity: 1;

 }

 .logincontainer .loginvectorsecond {
     position: absolute;
     z-index: 3;
     bottom: 0%;
     left: -10%;
     width: 591px;
     height: 255px;
     opacity: 1;

 }

.rightpanel-checkboxcontainer input:checked {
    background-color: rgba(255, 115, 0, 1);
}

.rightpanel-checkboxcontainer input:checked::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    z-index: 3;
}

 .rightpanel-signupbuttoncontainer p {
     font-family: 'Poppins', sans-serif;

     font-size: 12px;
     font-weight: 500;
     line-height: 18px;
     text-align: left;
     color: rgba(131, 131, 131, 1);

 }

 .rightpanel-signupbuttoncontainer p span {
     font-family: 'Poppins', sans-serif;

     font-size: 12px;
     font-weight: 500;
     line-height: 18px;
     text-align: left;
     text-decoration-line: underline;
     color: rgba(131, 131, 131, 1);



 }



 .rightpanel-signupbuttoncontainer button {
     max-width: 370px;
     width: 100%;
     height: 40px;
     padding: 0.5rem 0;
     gap: 10px;
     border-radius: 4px;
     background-color: rgba(111, 37, 206, 1);
     margin: 0.93rem 6.8rem;
     font-family: 'Poppins', sans-serif;

     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
     border: none;
     cursor: pointer;

 }



/* --------OTP Section */
.loginsignupcontainer-otppanel {
    max-width: 595px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otppanel-mainsection .otpinputcontainer {
    display: flex;
    gap: 25px;
}

 .otppanel-mainsection .otpinputcontainer input {
     width: 38px;
     height: 40px;
     gap: 0px;
     border-radius: 4px;
     border: 0.5px solid rgba(174, 174, 174, 1);
     font-family: 'Poppins', sans-serif;

     font-size: 14px;
     font-weight: 500;
     line-height: 21px;
     text-align: left;
     color: rgba(37, 37, 37, 1);
     padding: 12.5px;



 }

.loginsignupcontainer-otppanel-inside {
    display: flex;
    flex-direction: column;
}

.loginsignupcontainer-otppanel-inside h1 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.26px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 57px;
}

.loginsignupcontainer-otppanel-inside .otppanel-mainsection {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

 .loginsignupcontainer-otppanel-inside .otppanel-mainsection p {

     font-family: 'Poppins', sans-serif;

     font-size: 12px;
     font-weight: 500;
     line-height: 18px;
     text-align: left;
     color: rgba(131, 131, 131, 1);
 }

.loginsignupcontainer-otppanel-inside .otppanel-mainsection {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 370px;
    width: 100%;
    height: 173px;
}

 .loginsignupcontainer-otppanel-inside button {
     max-width: 370px;
     height: 40px;
     margin-top: 25px;
     padding: 8px 8px;
     gap: 10px;
     border-radius: 4px;
     border: none;
     background-color: rgba(111, 37, 206, 1);
     font-family: 'Poppins', sans-serif;

     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
     cursor: pointer;

 }

.rightpanel-passwordcontainer img {
    position: absolute;
    top: 40%;
    right: 20%;
    padding-right: 1rem;
    cursor: pointer;
}

.rightpanel-passwordcontainer i {
    position: absolute;
    top: 40%;
    right: 20%;
    padding-right: 1rem;
    cursor: pointer;
    color: rgba(131, 131, 131, 1);
}

@media (min-width: 1200px) {
    .loginsignupcontainer .hiddencontainer {
        right: -7.8%;
    }
}

@media (max-width: 1200px) {
    .loginsignupcontainer .hiddencontainer {
        right: -12.5%;
    }
}

@media (max-width: 1060px) {
    .loginsignupcontainer .hiddencontainer {
        right: -12%;
        background-color: rgb(255, 255, 255);
    }
}

@media (max-width: 1024px) {
    .loginsignupcontainer .hiddencontainer {
        right: -13%;
    }
}
