.scdashboard-container {
    display: flex;
    gap: 4.6rem;
    width: 100%;
    max-width: 100%;
    width: clamp(65%, 100%, 100%);
    margin: 5% 15% 0% 25.5%;

}

.scdashboard-parentcontainer.dull {
    -webkit-filter: blur(5px) grayscale(50%);
    -webkit-transform: scale(0.9);

    /* Dull effect */
}

.queryraisedcontainer-rightcontent .sort-by-contents,
.sort-by-contents-applications-studentnames {
    display: none;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 40px;
    gap: 9px;
    height: 157px;
    left: 1px;
    border-radius: 4px;
    width: 42%;
    padding: 6px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background: #ffffff;
    border: 1px solid #ddd;
}

.queryraisedcontainer-rightcontent .sort-by-contents a,
.sort-by-contents-applications-studentnames a {
    display: block;
    width: 100%;
    padding: 8px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.3s ease;
}

.queryraisedcontainer-rightcontent .sort-by-contents a:hover,
.sort-by-contents-applications-studentnames a:hover {
    background: #f0f0f0;
}

.scdashboard-trackprogress {
    padding: 2rem 25px 17px 2rem;
    max-width: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(26, 2, 57, 0.05);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 3.4%;
}

.trackprogress-firstsection {
    display: flex;

    justify-content: space-between;
    max-width: 100%;
    align-items: center;
}

.trackprogress-firstsection h1 {
    color: #E98635;
    font-family: Inter;
    font-size: clamp(22px, 5vw, 28px);
    line-height: clamp(26px, 6vw, 33px);
    font-weight: 700;

}



.trackprogress-firstsection button,
#mobgeneratedbutton {

    width: 224px;
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #E98635;
    background: transparent;
    color: #E98635;
    display: flex;
    justify-content: center;
    align-items: center;
}


.trackprogress-secondsection {
    display: flex;
    gap: 24px;
    max-width: 100%;
    width: 100%;


}

.scdashboard-dashboardcontent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    width: 72vw;

}

.trackprogress-month,
.trackprogress-noofstudent,
.trackprogress-amount,
.trackprogress-totalamount {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 135px;

    border: 1px solid #E5E5E5;
    justify-content: center;
    align-items: center;
}

.trackprogress-secondsection h1 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    color: #E98635;


}

.trackprogress-secondsection p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #909090;


}

.trackprogress-thirdsection {
    display: flex;
    justify-content: space-between;
}

.trackprogress-thirdsection button,
#mobgeneratedreferralcode {
    width: fit-content;
    height: 52px;
    padding: 14px 20px;
    gap: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.83px;
    text-align: left;
    color: #A6A5A5;
    display: flex;
    justify-content: center;
    align-items: center;

}

#mobgeneratedbutton,
#mobgeneratedreferralcode,
.firstsection-lists .studenteacheditbutton {
    display: none;
}

.scdashboard-studentapplication {
    max-width: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px 0px #1A02390D;
    margin-top: 3rem;
    padding: 2rem 25px 17px 2rem;

}

.studentapplication-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 20px 0;
}

.studentapplication-header h1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #E98635;

}

.studentapplication-header .application-buttoncontainer {
    width: fit-content;
    display: flex;
    gap: 20px;
}

.studentapplication-header .see-all {
    width: 91px;
    height: 35px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #E98635;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #E98635;



}

.studentapplication-header .start-new {
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #E98635;
    display: flex;
    flex-direction: center;
    align-items: center;
    color: #fff;
    background-color: #E98635;
    cursor: pointer;


}

.studentapplication-lists {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 140px;
    border: 1px solid #E5E5E5;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
}




.firstsection-lists {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.individualapplication-list {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 98%;
    margin: 0 1%;


}

.firstsection-lists h1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #5D5C5C;
    margin: 0;
}

.firstsection-lists button {
    display: none;
    width: 71px;
    height: 35px;
    padding: 1rem 2rem;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #6F25CE;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #6F25CE;

}

.application-buttoncontainer .expand-arrow {
    background-color: #6F25CE;
    color: #fff;
    width: 38px;
    height: 35px;
    padding: 16px 7px;
    gap: 8px;
    border-radius: 4px
}

.firstsection-lists .application-buttoncontainer {
    display: flex;
    gap: 0.8rem;
}


.scdashboard-parentcontainer {
    display: flex;
}

.individualstudentapplication-status {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 1rem;
}

.individualstudentapplication-status li {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.scdashboard-nbfcstatus-pending {
    margin-left: 20px;
}

.scdashboard-nbfcnamecontainer p,
.scdashboard-nbfcstatus-pending p,
.scdashboard-nbfcstatus-pending span,
.scdashboard-missingdocumentsstatus p,
.scdashboard-missingdocumentsstatus span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;
}

.scdashboard-missingdocumentsstatus p {
    color: #E62E2E;
}

.scdashboard-nbfcstatus-pending span {
    color: #FA7B15;
    background-color: #FFE3CACC;
    border-radius: 50px;
    width: 85px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.studentapplication-header .studentadditbutton {
    display: none;
    width: 45px;
    height: 45px;
    padding: 1rem 1.3rem;
    gap: 8px;
    border-radius: 4px;
    opacity: 0px;
    background-color: transparent;
    font-size: 1.4rem;
    color: #FFFFFF;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* -----------------------------SC profile----------------------------------- */
.scdashboard-inboxcontent {
    margin: 9% 1% 0% 18.5%;
    width: fit-content;
    /* display: flex; */
    display: none;
    max-width: 80%;
    width: 100%;

}

.scmember-profilecontainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 27%;
    width: 100%;
    margin-left: 0.5rem;
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 0.6rem;
    box-shadow: 0px 8px 23px 0px #1A023908;



}

.scmember-profilecontainer #studentcounsellor-profile {
    width: 100%;
    /* height: 100%; */
    height: 122px;
    border-radius: 6px;
    object-fit: cover;

}
.scmember-profilecontainerimg{
    position:relative;
}
.scmember-profilecontainerimg i{
    display:none;
    position:absolute;
    top:0;
    right:0;
    padding: 0.4rem;
    color:rgba(38, 2, 84, 0.7);
    


}
.scmember-rowfirst {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.scmember-rowfirst h1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;

}

.scmember-rowfirst button {
    display: flex;
    width: 72px;
    height: 32px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #E2E2E2;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #6F25CEDE;

}
#screferral-id-fromprofile {
    font-family: Poppins;
        font-weight: 500;
        font-size: 13px;
        line-height: 15.6px;
        letter-spacing: 0%;
}
#screferral-id-fromprofile span {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    color: #212121;
}

#screferral-dob-fromprofile {
    display: flex;
    font-family: Poppins;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    color: #21212180;
    gap: 20px;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #E5E5E5
}

#screferral-dob-fromprofile i {
    font-size: 0.8rem;
}

#screferral-dob-fromprofile p{
    font-family: Poppins;
        font-weight: 500;
        font-size: 13px;
        line-height: 15.6px;
        color:rgba(33, 33, 33, 0.5);
}

.scmember_personalinfo {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 11px;


}

.scmember_personalinfo p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    color: #21212180;
}

.scmember_personalinfo li {
    display: flex;
    align-items: flex-start;
    gap: 20px;

}

.scmember_personalinfo li img {
    width: 1.2rem;
    height: 1.2rem;
}


/* --------------------------sc dashboard performance------------------------------------------ */
.scdashboard-performancecontainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    max-width: 66.52%;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 8px 20px 0px #1A023908;

    padding: 20px 24px;
    gap: 30px;
    border-radius: 8px;




}

.performancecontainer-firstrow {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
}

.performancecontainer-firstrow h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #E98635;
}

.performancecontainer-firstrow button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6F25CE;
    width: 70px;
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #92889B21;
    background: transparent;

}

.scdashboard-individual-performance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
    width: 100%;
    gap: 1.35rem;

}

.scdashboard-individual-performance li {
    max-width: 100%;
    width: 100%;
    height: 50px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0 13px;
    background-color: transparent;
    border: 1px solid #E2E2E2;




}

.scdashboard-individual-performance li p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;

}

.scdashboard-individual-performance li span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #E98635;

}

.scdashboard-queryraisedcontainer {
    display: flex;
    flex-direction: column;
    height: fit-content;

}

.queryraisedcontainer-firstrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5
}

.queryraisedcontainer-firstrow #queryraised-header {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #000;
}

.queryraisedcontainer-rightcontent {
    display: flex;
    gap: 20px;
    position: relative;


}

.queryraisedcontainer-rightcontent #sort-by {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 104px;
    height: 38px;
    padding: 10px 13px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #E2E2E2;
}

#sort-by p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;
}



.queryraisedcontainer-rightcontent #raised-query {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 129px;
    height: 35px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #6F25CE;
    box-shadow: 0px 0px 10px 0px #92889B21;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 12.8px;
    color: #6F25CE;

}


.groupofraisedquestion-scdashboard {
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.individual-raisedquestions {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5
}

.individual-raisedquestions #queries-row {
    width: 60%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;

}

.individual-raisedquestions #query-raisedbyrow {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;
    margin-right: 3rem;
}

.firstrowapplication-rightsidecontent #mobwidthdownloadbutton {
    width: 45px;
    height: 45px;
    padding: 16px 20px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #FA7B15;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* ----------------------------------------------Application status---------------------------------------------------------- */
.scdashboard-applicationstatus {
    display: none;
    padding: 20px 24px;
    box-shadow: 0px 0px 20px 0px #1A02390D;
    max-width: 77%;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    margin: 10% 1% 0% 25%;


}

.studentapplicationstatusreports-inscdashboard {
    display: none;

}

.studentapplicationstatusreports-inscdashboard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    color: #fff;
    margin-bottom: 12px;



}

.scdashboard-applicationstatus .scapplicationstatus-firstrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;


}

.firstrowapplication-rightsidecontent {
    display: flex;
    gap: 20px;
    position: relative;

}

.scdashboard-applicationstatus .scapplicationstatus-firstrow h1 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    color: #E98635;
}

.scdashboard-applicationstatus .scapplicationstatus-firstrow #applicationstatus-sortby {
    width: 106px;
    height: 34px;
    padding: 8px 10px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #5252523D;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #5D5C5C;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;


}

.scdashboard-applicationstatus .scapplicationstatus-firstrow #sc-new-application-generate {
    width: fit-content;
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    background-color: #6F25CE;
    border: none;
    box-shadow: 0px 0px 10px 0px #92889B21;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application-buttoncontainer .reportsindashboard-buttoncontainer {
    width: 100%;
    display: flex;
    gap: 20px;
}

.reportsindashboard-firstrow {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.reportsindashboard-buttoncontainer {
    display: flex;
    gap: 10px;
}

.reportsindashboard-leftcontentinfirstrow {
    display: flex;
    gap: 5.6rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 15rem;

}

.reportsindashboard-leftcontentinfirstrow p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #5D5C5C;

}

.reportsindashboard-leftcontentinfirstrow span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;
}

.reportsproposal-individualdatalists span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    color: #909090;
    background-color: #F0F0F0;
    padding: 7px;
    border-radius: 50px;
    margin-left: 5px;
    max-width: 95px;
    width: 100%;
    height: 2rem;


}

.reportsindashboard-secondrow {
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 5%;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;

}

.reportsindashboard-secondrow p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;
}

.reportsproposal-individualdatalists p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #909090;
}

#reportsindashboard-firstrow-view,
#reportsindashboard-firstrow-edit {
    width: 71px;
    height: 35px;
    padding: 1rem 2rem;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #6F25CE;
    box-shadow: 0px 0px 10px 0px #92889B21;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #6F25CE;
}

.expand-arrow-reportsindashboard {
    width: 38px;
    height: 35px;
    padding: 16px 7px;
    gap: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6F25CE;
    box-shadow: 0px 0px 10px 0px #92889B21;
    border: none;

}

.reportsproposal-datalists {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.3rem;
    padding-bottom: 1rem;

}

.reportsproposal-datalists .reportsproposal-individualdatalists {
    display: flex;
    gap: 80px;

}

.studentapplicaton-datashownpagination {
    align-items: center;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-end;
}

.studentapplicaton-datashownpagination .pagenumbers {
    display: flex;
    gap: 20px;
    align-items: center;
}

.studentapplicaton-datashownpagination #prevstudents,
.studentapplicaton-datashownpagination #nextstudents {
    background-color: transparent;
    border: none;
    color: #B4B8C1;
    font-size: 1.7rem;
    height: 7px;
    margin: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    align-items: center;


}

.studentapplicaton-datashownpagination .page-class {
    width: 27px;
    height: 26px;
    padding: 4px 10px;
    margin-top: 0.4rem;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    color: #B8B8B8;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 7px;

}

.studentapplicaton-datashownpagination .page-class.active {
    color: #000;
    background-color: #E6E6E6;
    border: none;
}

#download-detailsid {
    width: fit-content;
    height: 35px;
    padding: 16px 22px;
    gap: 8px;
    border-radius: 4px;
    background-color: #FA7B15;
    box-shadow: 0px 0px 10px 0px #92889B21;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.application-shrinkwidtheditcontainer {
    display: none;
}

/* ---------------------------------------------------------- */

.studentAddBySCuserPopup,
.referral-triggered-view {
    display: none;
    flex-direction: column;

    background: rgba(255, 255, 255, 1);
    position: fixed;
    max-width: 42.01%;
    width: 100%;

    height: fit-content;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 20px 0px rgba(26, 2, 57, 0.03);
    padding: 20px 24px;
    gap: 17px;
    z-index: 1000;


}



.studentAddByScuserPopup-headerpart,
.referral-triggered-view-headersection {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.studentAddByScuserPopup-headerpart h3,
.referral-triggered-view-headersection h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(233, 134, 53, 1);
}

.studentAddByScuserPopup-headerpart img,
.referral-triggered-view-headersection,
.referral-Link-trigger-button,
.referral-Link-trigger-anotherbutton {
    cursor: pointer;
}

.studentAddByScuserPopup-contentpart {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding-bottom: 17px;
}

.studentAddByScuserPopup-contentpart input::placeholder {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(144, 144, 144, 1);

}

.referral-triggered-view-footer {
    display: flex;
    justify-content: space-between;
}


.studentAddByScuserPopup-contentpart input {
    width: 100%;
    height: 38;
    border-radius: 4px;

    padding: 10px 13px;
    gap: 10px;
    border-width: 1px;
    border: 1px solid rgba(226, 226, 226, 1);
    outline: none;


}

.studentAddByScuserPopup-contentpart #delete-student-row,
.delete-student-popup {
    align-self: flex-end;
    max-width: 109px;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    gap: 8px;
    border: 1px solid rgba(111, 37, 206, 1);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(38, 2, 84, 1);
    background: transparent;

}

.studentAddByScuserPopup-footerpart {
    display: flex;
    justify-content: space-between;

}

.studentAddByScuserPopup-footerpart button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    border-radius: 4px;
    height: 35px;


}

.studentAddByScuserPopup-footerpart button:first-child {
    align-self: flex-start;
    max-width: 129px;
    width: 100%;

    border: 1px solid rgba(233, 134, 53, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    background: transparent;
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
}


.studentAddByScuserPopup-footerpart button:nth-child(2),
#dynamic-add-student-button {
    background: transparent;
    color: rgba(111, 37, 206, 1);
    border: 1px solid rgba(111, 37, 206, 1);
    padding: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: center;




}

#dynamic-add-student-button {
    display: none;
    align-self: flex-end;
    border-radius: 4px;
    width: 109px;
    height: 40px;
    padding: 0;
}

.studentAddByScuserPopup-footerpart button:last-child {
    max-width: 169px;
    width: 100%;
    background-color: rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    border: none;
    color: rgba(255, 255, 255, 1);

}

.referral-triggered-view-content input::placeholder {
    text-align: center;
}

.referral-triggered-view-content input {
    width: 100%;
    height: 128px;
    padding: 0 2rem;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal;
    border: 1px solid rgba(226, 226, 226, 1);
    border-radius: 4px;
    outline: none;
}

.referral-triggered-view-footer button:first-child {
    width: 109px;
    height: 35px;
    gap: 8px;
    border-radius: 4px;
    border-width: 1px;
    padding: 1rem 2rem;
    border: 1px solid rgba(233, 134, 53, 1);
    background: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.referral-triggered-view-footer button img {
    width: 12px;
}

.referral-triggered-view-footer button:last-child {
    width: 126px;
    height: 35px;
    gap: 8px;
    border-radius: 4px;
    background-color: rgba(111, 37, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(146, 136, 155, 0.13);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(255, 255, 255, 1);
    border: none;
}

/* -------------------------------------------Media Queries-------------------------------------------------------------- */
@media(max-width:1200px) {

    .scdashboard-container {
        margin: 5% 0% 0% 20.5%;
    }

    .scdashboard-dashboardcontent {
        width: 74vw;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .scdashboard-applicationstatus {

        margin: 10% 0% 0% 20.5%;
        width: 78vw;
    }

}

@media (max-width:1024px) {
    .scdashboard-container {
        margin: 5% 12% 0% 16.5%;


    }

    .scdashboard-dashboardcontent {
        width: 78vw;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .scmember-rowfirst h1 {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .studentAddByScuserPopup-footerpart button:nth-child(2) {
        display: none;
    }

    #dynamic-add-student-button {
        display: flex;
    }


}

@media(max-width:980px) {
    .scdashboard-dashboardcontent {
        max-width: 100%;
        width: 78vw;
        margin-top: 3rem;
        padding: 2rem;


    }

    .scmember-profilecontainer {
        max-width: 36%;
        width: 100%;
        padding: 0.5rem;
        margin-top: 2rem;

    }

    .scmember-rowfirst h1 {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .individualstudentapplication-status {
        justify-content: space-between;
        gap: 1rem;

    }

    .scdashboard-applicationstatus {

        margin: 12% 0% 0% 20.5%;
        width: 78vw;
    }

    .scdashboard-trackprogress {
        padding: 3.5rem 0.5rem 17px 2rem;
    }



    .trackprogress-secondsection {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 1rem 0;
    }

    .scdashboard-studentapplication {
        padding: 1rem;
    }

    .trackprogress-thirdsection {
        justify-content: space-between;
        gap: 1rem;
    }


    .trackprogress-firstsection {
        justify-content: space-between;
        align-items: flex-start;
    }

    .studentapplication-header {
        align-items: center;
        justify-content: space-between;
    }


    .studentapplication-header h1 {
        margin: 0;
    }

    .reportsproposal-datalists .reportsproposal-individualdatalists {
        gap: 0;
        justify-content: space-between;
    }




}


@media(max-width:720px) {
    .scdashboard-nbfcstatus-pending {
        margin-left: 0;
    }



    .scdashboard-performancecontainer {
        margin: 38px 14px;
    }


    .reportsproposal-datalists .reportsproposal-individualdatalists {
        gap: 0;
        justify-content: space-around;
    }

    #reportspropsal-status-state {
        display: flex;
        align-items: center;

    }

    .scdashboard-applicationstatus .scapplicationstatus-firstrow #sc-new-application-generate {
        padding: 1rem;
    }

    .scdashboard-applicationstatus {

        margin: 14% 0% 0% 20.5%;
        width: 78vw;
    }

    .commonsidebar-togglesidebar .commonsidebar-sidebarlists-top {
        margin: 0;
    }

    .scmember-rowfirst h1 {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .application-shrinkwidtheditcontainer {
        display: block;
    }

    .reportsindashboard-buttoncontainer {
        display: none;
    }

    .studentAddBySCuserPopup,
    .referral-triggered-view {
        max-width: 60%;
        width: 100%;
    }


}

@media(max-width:729px) and (min-width:640px) {

    .reportsindashboard-secondrow p,
    .reportsproposal-datalists .reportsproposal-individualdatalists p,
    .scdashboard-individual-performance li p {
        font-size: 12px;
    }

    .reportsproposal-datalists .reportsproposal-individualdatalists {
        align-items: center;
        gap: 13px;
        justify-content: space-around;
    }

    .scdashboard-individual-performance li span {
        font-size: 0.95rem;
    }

    .studentapplication-header .start-new {
        width: 193px
    }

    .queryraisedcontainer-rightcontent .sort-by-contents {
        width: 70%;
    }

}

@media(max-width:640px) {
    .scdashboard-container {
        margin: 0 1.3rem;
        padding-top: 1.3rem;
        width: 100vw;
        max-width: 100%;
    }

    .studentAddByScuserPopup-footerpart button:nth-child(2) {
        display: none;
    } 

    .scdashboard-dashboardcontent {
        max-width: 100%;
        width: 90vw;
        margin-top: 6rem;
        margin-left: 0rem;
        padding: 0;
    }

    .scdashboard-applicationstatus {
        margin: 1rem;
        max-width: 100%;
        width: 100%;
        margin-top: 7rem;
    }

    .reportsproposal-datalists .reportsproposal-individualdatalists {
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .reportsindashboard-firstrow {
        margin-bottom: 1rem;
    }

    .reportsindashboard-rightcontentinfirstrow {
        align-self: flex-start;
    }

    #reportspropsal-status-state {
        position: absolute;
        top: 1rem;
        right: 0;
    }


    .scdashboard-trackprogress {
        margin: 0;
    }

    .scmember-rowfirst h1 {
        font-size: 1.2rem;
        line-height: 35px;
    }

    .scdashboard-inboxcontent {
        flex-direction: column;
        align-items: center;
        margin: 1.3rem;
        max-width: 100%;
        width: 100%;

    }

    .scdashboard-individual-performance li {
        height: 168px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 8px;
    }

    .scdashboard-individual-performance span {
        font-size: 30px;
        line-height: 45px;
    }

    .scdashboard-individual-performance p {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }

    .scmember-profilecontainer {
        /* max-width: 60%; */
        max-width: 60%;
        margin-top: 4rem;
    }

    .scdashboard-performancecontainer {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
    }


    .trackprogress-thirdsection {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }

    .trackprogress-thirdsection button {
        width: 100%;
        max-width: 100%;


    }

    .individualstudentapplication-status {
        flex-direction: column;
        position: relative;
    }

    .studentapplication-lists {
        height: fit-content;
    }

    .scdashboard-nbfcstatus-pending {
        position: absolute;
        bottom: 10%;
        right: 4%;
    }

    .scdashboard-nbfcstatus-pending p,
    .studentapplication-header .application-buttoncontainer,
    .firstsection-lists .application-buttoncontainer,
    .trackprogress-firstsection button,
    #pcviewgeneratedreferralcode,
    #download-detailsid {
        display: none;
    }

    .firstrowapplication-rightsidecontent #mobwidthdownloadbutton {
        display: flex;
    }

    .studentapplication-header .studentadditbutton,
    #mobgeneratedreferralcode,
    .firstsection-lists .studenteacheditbutton {
        display: flex;
        border-top-right-radius: 2px;

    }

    #mobgeneratedbutton {
        display: flex;
        max-width: 100%;
        width: 100%;
        height: 45px;
    }

    .scdashboard-trackprogress {
        padding: 3.5rem 0.5rem 17px 2rem;
    }

    .trackprogress-secondsection {
        width: 100%;
    }

    .reportsindashboard-secondrow {
        flex-direction: column;
        gap: 12px;
    }

    .reportsindashboard-leftcontentinfirstrow {
        flex-direction: column;
         display: flex;
         justify-content: space-between;
        width: 100%;
        margin-right: 9rem;
        align-items: flex-start;
        gap:1rem;
    }



    .studentapplicationstatusreports-inscdashboard {
        position: relative;
    }

    .studentapplicationstatusreports-inscdashboard i {
        position: absolute;
        top: 0;
        left: 0;

    }

    .studentAddBySCuserPopup,
    .referral-triggered-view {
        max-width: 70%;
        width: 100%;
    }

    .queryraisedcontainer-rightcontent .sort-by-contents {
        width: 70%;
    }
}

@media(max-width:480px) {

    .scdashboard-inboxcontent {
        margin: 0.5rem;
    }

    .scmember-profilecontainer,
    .scdashboard-performancecontainer {

        padding: 0.5rem;
        padding-top: 1.5rem;
    }

}